absl-py
asttokens
av
backcall
blas
brotli-python
ca-certificates
cachetools
certifi
charset-normalizer
colorama
coloredlogs
comm
contourpy
cuda-cccl
cuda-cudart
cuda-cudart-dev
cuda-cupti
cuda-libraries
cuda-libraries-dev
cuda-nvrtc
cuda-nvrtc-dev
cuda-nvtx
cuda-profiler-api
cuda-runtime
cudatoolkit
cycler
debugpy
decorator
djitellopy
einops
executing
filelock
flatbuffers
fonttools
freetype
fsspec
gmpy2
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
importlib_metadata
imutils
intel-openmp
ipykernel
ipython
jedi
jinja2
jpeg
jupyter_client
jupyter_core
keyboard
kiwisolver
labelimg
lerc
libcublas
libcublas-dev
libcufft
libcufft-dev
libcurand
libcurand-dev
libcusolver
libcusolver-dev
libcusparse
libcusparse-dev
libdeflate
libffi
libjpeg-turbo
libnpp
libnpp-dev
libnvjpeg
libnvjpeg-dev
libpng
libprotobuf
libsodium
libtiff
libuv
libwebp-base
lxml
lz4-c
markdown
markupsafe
matplotlib
matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random
mpc
mpfr
mpir
mpmath
nest-asyncio
networkx
numpy
numpy-base
oauthlib
onnx
onnxruntime-gpu
opencv-python
openjpeg
openssl
packaging
pandas
parso
pickleshare
pillow
pip
prompt-toolkit
prompt_toolkit
protobuf
psutil
pure_eval
py-cpuinfo
pyasn1
pyasn1-modules
pygments
pyparsing
pyqt5
pyqt5-qt5
pyqt5-sip
pyreadline3
pysocks
python
python-dateutil
python_abi
pytorch
pytorch-cuda
pytorch-mutex
pytz
pywin32
pyyaml
pyzmq
requests
requests-oauthlib
rsa
safetensors
scipy
seaborn
setuptools
six
sqlite
stack-data
stack_data
sympy
tbb
tensorboard
tensorboard-data-server
thop
timm
torchaudio
torchvision
tornado
tqdm
traitlets
typing-extensions
typing_extensions
tzdata
ultralytics
urllib3
vc
vs2015_runtime
wcwidth
werkzeug
wheel
win_inet_pton
xz
yaml
zeromq
zipp
zlib
zstd
